{{> head}}


  
    {{> navbar}}

  <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Retrospecto Nacionales</h1>
            <p class="lead">Información de los folletos de todos los hipodromos nacionales.</p>
        </div>
    </div>
  <div class="container-fluid table-responsive-xl">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Hipodromos</th>
                <th scope="col">Lunes</th>
                <th scope="col">Martes</th> 
                <th scope="col">Miercoles</th>
                <th scope="col">Jueves</th>
                <th scope="col">Viernes</th>
                <th scope="col">Sabado</th>
                <th scope="col">Domingo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <th scope="row">1</th>
                <td>La Rinconada</td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/RC{{getFecha '1'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/RC{{getFecha '2'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/RC{{getFecha '3'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/RC{{getFecha '4'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/RC{{getFecha '5'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/RC{{getFecha '6'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/RC{{getFecha '7'}}.pdf" target="_blank">Descargar</a></td>
            </tr>
            <tr>
            <th scope="row">2</th>
               <td>Valencia</td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/VL{{getFecha '1'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/VL{{getFecha '2'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/VL{{getFecha '3'}}.pdf" target="_blank">Descargar</a></td>
                  <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/VL{{getFecha '4'}}.pdf" target="_blank">Descargar</a></td>
                    <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/VL{{getFecha '5'}}.pdf" target="_blank">Descargar</a></td>
                      <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/VL{{getFecha '6'}}.pdf" target="_blank">Descargar</a></td>
                        <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/VL{{getFecha '7'}}.pdf" target="_blank">Descargar</a></td>
            </tr>
            <tr>
           
        </tbody>
        </table>

       
</div>

   

     {{> footer}}

    