{{> head}}


  
    {{> navbar}}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Restrospecto Americanos Normal</h1>
            <p class="lead">Información de los folletos de todos los hipodromos Americano.</p>
        </div>
    </div>
    
  <div class="container-fluid table-responsive-xl">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Hipodromos</th>
                <th scope="col">Lunes</th>
                <th scope="col">Martes</th> 
                <th scope="col">Miercoles</th>
                <th scope="col">Jueves</th>
                <th scope="col">Viernes</th>
                <th scope="col">Sabado</th>
                <th scope="col">Domingo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <th scope="row">1</th>
                <td>Santa Anita</td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/SA{{getFecha '1'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/SA{{getFecha '2'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/SA{{getFecha '3'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/SA{{getFecha '4'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/SA{{getFecha '5'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/SA{{getFecha '6'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/SA{{getFecha '7'}}.pdf" target="_blank">Descargar</a></td>
            </tr>
            <tr>
            <th scope="row">2</th>
               <td>Gulfstream Park</td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/GP{{getFecha '1'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/GP{{getFecha '2'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/GP{{getFecha '3'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/GP{{getFecha '4'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/GP{{getFecha '5'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/GP{{getFecha '6'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/GP{{getFecha '7'}}.pdf" target="_blank">Descargar</a></td>
            </tr>
            <tr>
            <th scope="row">3</th>
                <td>Belmont Park</td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/BP{{getFecha '1'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/BP{{getFecha '2'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/BP{{getFecha '3'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/BP{{getFecha '4'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/BP{{getFecha '5'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/BP{{getFecha '6'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/BP{{getFecha '7'}}.pdf" target="_blank">Descargar</a></td>
            </tr>
            <tr>
             <th scope="row">4</th>
                <td>Aqueduct</td>
                 <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/AQ{{getFecha '1'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/AQ{{getFecha '2'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/AQ{{getFecha '3'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/AQ{{getFecha '4'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/AQ{{getFecha '5'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/AQ{{getFecha '6'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/AQ{{getFecha '7'}}.pdf" target="_blank">Descargar</a></td>
            </tr>
            <tr>
             <th scope="row">5</th>
                <td>Del Mar</td>
                 <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/DM{{getFecha '1'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/DM{{getFecha '2'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/DM{{getFecha '3'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/DM{{getFecha '4'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/DM{{getFecha '5'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/DM{{getFecha '6'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/DM{{getFecha '7'}}.pdf" target="_blank">Descargar</a></td>
            </tr>
            <tr>
             <th scope="row">6</th>
                <td>Los Alamitos</td>
                 <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/AL{{getFecha '1'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/AL{{getFecha '2'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/AL{{getFecha '3'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/AL{{getFecha '4'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/AL{{getFecha '5'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/AL{{getFecha '6'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/AL{{getFecha '7'}}.pdf" target="_blank">Descargar</a></td>
            </tr>
            <tr>
             <th scope="row">7</th>
                <td>Keeneland</td>
                 <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/KN{{getFecha '1'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/KN{{getFecha '2'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/KN{{getFecha '3'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/KN{{getFecha '4'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/KN{{getFecha '5'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/KN{{getFecha '6'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/KN{{getFecha '7'}}.pdf" target="_blank">Descargar</a></td>
            </tr>
            <tr>
             <th scope="row">8</th>
                <td>Churchill Down</td>
                 <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/CD{{getFecha '1'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/CD{{getFecha '2'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/CD{{getFecha '3'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/CD{{getFecha '4'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/CD{{getFecha '5'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/CD{{getFecha '6'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/CD{{getFecha '7'}}.pdf" target="_blank">Descargar</a></td>
            </tr>
            <tr>
             <th scope="row">9</th>
                <td>Saratoga</td>
                 <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/ST{{getFecha '1'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/ST{{getFecha '2'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/ST{{getFecha '3'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/ST{{getFecha '4'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/ST{{getFecha '5'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/ST{{getFecha '6'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/ST{{getFecha '7'}}.pdf" target="_blank">Descargar</a></td>
            </tr>
        </tbody>
        </table>

        
     {{> footer}}

    
