{{> head}}


  
    {{> navbar}}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Hipodromo Americanos</h1>
            <p class="lead">Información de los folletos de todos los hipodromos con diferentes formatos.</p>
        </div>
    </div>
  <div class="container-fluid">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Hipodromos</th>
                <th scope="col">Last</th>
                <th scope="col">Today</th> 
                <th scope="col">Tomorrow</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <th scope="row">1</th>
                <td>Santa Anita</td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/SA{{getFecha '-1'}}.pdf" target="_blank">Download</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/SA{{getFecha '0'}}.pdf" target="_blank">Download</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/SA{{getFecha '1'}}.pdf" target="_blank">Download</a></td>
            </tr>
            <tr>
            <th scope="row">2</th>
               <td>Gulfstream Park</td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/GP{{getFecha '-1'}}.pdf" target="_blank">Download</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/GP{{getFecha '0'}}.pdf" target="_blank">Download</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/GP{{getFecha '1'}}.pdf" target="_blank">Download</a></td>
            </tr>
            <tr>
            <th scope="row">3</th>
                <td>Belmont Park</td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/BP{{getFecha '-1'}}.pdf" target="_blank">Download</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/BP{{getFecha '0'}}.pdf" target="_blank">Download</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/BP{{getFecha '1'}}.pdf" target="_blank">Download</a></td>
            </tr>
             <th scope="row">4</th>
                <td>Aqueduct</td>
                 <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/AQ{{getFecha '-1'}}.pdf" target="_blank">Download</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/AQ{{getFecha '0'}}.pdf" target="_blank">Download</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/AQ{{getFecha '1'}}.pdf" target="_blank">Download</a></td>
            </tr>
             <th scope="row">5</th>
                <td>Del Mar</td>
                 <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/DM{{getFecha '-1'}}.pdf" target="_blank">Download</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/DM{{getFecha '0'}}.pdf" target="_blank">Download</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/DM{{getFecha '1'}}.pdf" target="_blank">Download</a></td>
            </tr>
             <th scope="row">6</th>
                <td>Los Alamitos</td>
                 <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/AL{{getFecha '-1'}}.pdf" target="_blank">Download</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/AL{{getFecha '0'}}.pdf" target="_blank">Download</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/AL{{getFecha '1'}}.pdf" target="_blank">Download</a></td>
            </tr>
             <th scope="row">7</th>
                <td>Keeneland</td>
                 <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/KN{{getFecha '-1'}}.pdf" target="_blank">Download</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/KN{{getFecha '0'}}.pdf" target="_blank">Download</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/KN{{getFecha '1'}}.pdf" target="_blank">Download</a></td>
            </tr>
        </tbody>
        </table>

        <table class="table">
        <thead class="thead-light">
            <tr>
               <th colspan="5" style="  text-align: center;">Formato Standar</th>
              
            </tr>
        </thead>
        <tbody>
             <tr>
            <th scope="row">1</th>
                <td>Santa Anita</td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/SAST{{getFecha '-1'}}.pdf" target="_blank">Download</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/SAST{{getFecha '0'}}.pdf" target="_blank">Download</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/SAST{{getFecha '1'}}.pdf" target="_blank">Download</a></td>
            </tr>
            <tr>
            <th scope="row">2</th>
               <td>Gulfstream Park</td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/GPST{{getFecha '-1'}}.pdf" target="_blank">Download</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/GPST{{getFecha '0'}}.pdf" target="_blank">Download</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/GPST{{getFecha '1'}}.pdf" target="_blank">Download</a></td>
            </tr>
            <tr>
            <th scope="row">3</th>
                <td>Belmont Park</td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/BPST{{getFecha '-1'}}.pdf" target="_blank">Download</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/BPST{{getFecha '0'}}.pdf" target="_blank">Download</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/BPST{{getFecha '1'}}.pdf" target="_blank">Download</a></td>
            </tr>
             <th scope="row">4</th>
                <td>Aqueduct</td>
                 <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/AQST{{getFecha '-1'}}.pdf" target="_blank">Download</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/AQST{{getFecha '0'}}.pdf" target="_blank">Download</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/AQST{{getFecha '1'}}.pdf" target="_blank">Download</a></td>
            </tr>
             <th scope="row">5</th>
                <td>Del Mar</td>
                 <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/DMST{{getFecha '-1'}}.pdf" target="_blank">Download</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/DMST{{getFecha '0'}}.pdf" target="_blank">Download</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/DMST{{getFecha '1'}}.pdf" target="_blank">Download</a></td>
            </tr>
             <th scope="row">6</th>
                <td>Los Alamitos</td>
                 <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/ALST{{getFecha '-1'}}.pdf" target="_blank">Download</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/ALST{{getFecha '0'}}.pdf" target="_blank">Download</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/ALST{{getFecha '1'}}.pdf" target="_blank">Download</a></td>
            </tr>
             <th scope="row">7</th>
                <td>Keeneland</td>
                 <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/KNST{{getFecha '-1'}}.pdf" target="_blank">Download</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/KNST{{getFecha '0'}}.pdf" target="_blank">Download</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/KNST{{getFecha '1'}}.pdf" target="_blank">Download</a></td>
            </tr>
        </tbody>
    </table>
</div>

     {{> footer}}

    