{{> head}}


  
    {{> navbar}}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Retrospecto Americanos Estandar</h1>
            <p class="lead">Información de los folletos de todos los hipodromos Americanos.</p>
        </div>
    </div>
  <div class="container-fluid">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Hipodromos</th>
               <th scope="col">Lunes</th>
                <th scope="col">Martes</th> 
                <th scope="col">Miercoles</th>
                <th scope="col">Jueves</th>
                <th scope="col">Viernes</th>
                <th scope="col">Sabado</th>
                <th scope="col">Domingo</th>
            </tr>
        </thead>
       <tbody>
             <tr>
            <th scope="row">1</th>
                <td>Santa Anita</td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/SAST{{getFecha '1'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/SAST{{getFecha '2'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/SAST{{getFecha '3'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/SAST{{getFecha '4'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/SAST{{getFecha '5'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/SAST{{getFecha '6'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/SAST{{getFecha '7'}}.pdf" target="_blank">Descargar</a></td>
            </tr>
            <tr>
            <th scope="row">2</th>
               <td>Gulfstream Park</td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/GPST{{getFecha '1'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/GPST{{getFecha '2'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/GPST{{getFecha '3'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/GPST{{getFecha '4'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/GPST{{getFecha '5'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/GPST{{getFecha '6'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/GPST{{getFecha '7'}}.pdf" target="_blank">Descargar</a></td>
            </tr>
            <tr>
            <th scope="row">3</th>
                <td>Belmont Park</td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/BPST{{getFecha '1'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/BPST{{getFecha '2'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/BPST{{getFecha '3'}}.pdf" target="_blank">Descargar</a></td>
                 <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/BPST{{getFecha '4'}}.pdf" target="_blank">Descargar</a></td>
                  <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/BPST{{getFecha '5'}}.pdf" target="_blank">Descargar</a></td>
                   <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/BPST{{getFecha '6'}}.pdf" target="_blank">Descargar</a></td>
                    <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/BPST{{getFecha '7'}}.pdf" target="_blank">Descargar</a></td>
            </tr>
             <th scope="row">4</th>
                <td>Aqueduct</td>
                 <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/AQST{{getFecha '1'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/AQST{{getFecha '2'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/AQST{{getFecha '3'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/AQST{{getFecha '4'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/AQST{{getFecha '5'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/AQST{{getFecha '6'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/AQST{{getFecha '7'}}.pdf" target="_blank">Descargar</a></td>
            </tr>
             <th scope="row">5</th>
                <td>Del Mar</td>
                 <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/DMST{{getFecha '-'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/DMST{{getFecha '2'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/DMST{{getFecha '3'}}.pdf" target="_blank">Descargar</a></td>
                 <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/DMST{{getFecha '4'}}.pdf" target="_blank">Descargar</a></td>
                  <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/DMST{{getFecha '5'}}.pdf" target="_blank">Descargar</a></td>
                   <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/DMST{{getFecha '6'}}.pdf" target="_blank">Descargar</a></td>
                    <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/DMST{{getFecha '7'}}.pdf" target="_blank">Descargar</a></td>
            </tr>
             <th scope="row">6</th>
                <td>Los Alamitos</td>
                 <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/ALST{{getFecha '1'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/ALST{{getFecha '2'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/ALST{{getFecha '3'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/ALST{{getFecha '4'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/ALST{{getFecha '5'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/ALST{{getFecha '6'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/ALST{{getFecha '7'}}.pdf" target="_blank">Descargar</a></td>
            </tr>
             <th scope="row">7</th>
                <td>Keeneland</td>
                 <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/KNST{{getFecha '1'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/KNST{{getFecha '2'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/KNST{{getFecha '3'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/KNST{{getFecha '4'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/KNST{{getFecha '5'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/KNST{{getFecha '6'}}.pdf" target="_blank">Descargar</a></td>
                <td><a href="https://hipismodiag722.blob.core.windows.net/dmzfile/KNST{{getFecha '7'}}.pdf" target="_blank">Descargar</a></td>
            </tr>
        </tbody>
        </table>

        
     {{> footer}}

    